{
	"swagger": "2.0",
	"info": {
		"version": "v1",
		"title": "FamilyCare API V1"
	},
	"host": "tieto.com",
	"basePath": "/WESE.FC.Api.FC",
	"schemes": [
		"https"
	],
	"paths": {
		"/apifc/v1/OrderEC/Orders/{orderId}": {
			"get": {
				"tags": [
					"Order EC"
				],
				"summary": "Retrieves the details of a specific EC order by its unique order ID.",
				"description": "<para>\r\n  <b>Note:</b> The StartDate, EndDate, and UpdateDate properties in the response represent calendar dates without time zone.\r\n            They should not be interpreted as UTC or local time, and must not be converted between time zones.\r\n            The OrderDateUtc property is a UTC datetime, converted from local time, and includes time information.\r\n            </para>\r\n<para>\r\n  <b>409 Conflict:</b> This status is returned if the order is found, but required associated data (such as decision or person) is missing.\r\n            </para>",
				"operationId": "OrderEC_GetOrders",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "orderId",
						"in": "path",
						"description": "The unique identifier (GUID) of the order.",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/OrderECDetailsDTO"
						}
					},
					"404": {
						"description": "NotFound"
					},
					"409": {
						"description": "Conflict"
					}
				}
			}
		},
		"/apifc/v1/OrderEC/Attachment": {
			"get": {
				"tags": [
					"v1"
				],
				"summary": "Retrieves the content of a specific attached PDF document by its document ID.",
				"operationId": "OrderEC_Attachment",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "documentId",
						"in": "query",
						"description": "The unique identifier of the PDF document.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/PdfDTO"
						}
					},
					"404": {
						"description": "NotFound"
					}
				}
			}
		},
		"/apifc/v1/Persons/Proposals": {
			"get": {
				"tags": [
					"Person based"
				],
				"summary": "Get proposal for person",
				"operationId": "Persons_GetPersonsProposal",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "domain",
						"in": "query",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/PersonBasedPersonProposalDTO"
						}
					}
				}
			}
		},
		"/apifc/v1/OrderEC/NotAcceptedOrders/Count": {
			"get": {
				"tags": [
					"Order EC"
				],
				"summary": "Gets the count of not accepted EC orders for a specified unit.",
				"operationId": "OrderEC_GetNotAcceptedOrdersCount",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "unitId",
						"in": "query",
						"description": "The unique identifier of the unit.",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"format": "int32",
							"type": "integer"
						}
					},
					"400": {
						"description": "BadRequest"
					}
				}
			}
		},
		"/apifc/v1/DocumentContent": {
			"get": {
				"tags": [
					"Person based"
				],
				"summary": "Get content of document",
				"operationId": "DocumentContent_GetDocumentContent",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "id",
						"in": "query",
						"description": "Document id",
						"required": true,
						"type": "string"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					}
				}
			}
		},
		"/apifc/v1/OrderEC/Orders": {
			"get": {
				"tags": [
					"Order EC"
				],
				"summary": "Retrieves all EC orders for a specified unit, optionally filtered by person.",
				"description": "<para>\r\n  <b>Note:</b> The StartDate, EndDate, and UpdateDate properties in the response represent calendar dates without time zone.\r\n            They should not be interpreted as UTC or local time, and must not be converted between time zones.\r\n            The OrderDateUtc property is a UTC datetime, converted from local time, and includes time information.\r\n            </para>",
				"operationId": "OrderEC_GetOrdersByUnit",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "unitId",
						"in": "query",
						"description": "The unique identifier of the unit. (Required)",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "personId",
						"in": "query",
						"description": "The identifier of the person to filter orders by. (Optional)",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/OrderECForUnitDTO"
							}
						}
					},
					"400": {
						"description": "BadRequest"
					}
				}
			}
		},
		"/apifc/v1/OrderEC/Attachments": {
			"get": {
				"tags": [
					"v1"
				],
				"summary": "Lists metadata for all PDF attachments associated with a specific external order.",
				"operationId": "OrderEC_Attachments",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "externalOrderId",
						"in": "query",
						"description": "The unique identifier (GUID) of the external order.",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/PdfMetadataDTO"
							}
						}
					},
					"404": {
						"description": "NotFound"
					}
				}
			}
		},
		"/apifc/v1/Persons": {
			"get": {
				"tags": [
					"Person based"
				],
				"summary": "List persons",
				"operationId": "Persons_GetPersons",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "personId",
						"in": "query",
						"description": "Full personId.",
						"required": true,
						"type": "string"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Ok",
						"schema": {
							"$ref": "#/definitions/PersonBasedPersonDTO"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					}
				}
			},
			"post": {
				"tags": [
					"Person based"
				],
				"summary": "Post a Person",
				"operationId": "Persons_PostPerson",
				"consumes": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"description": "",
						"required": true,
						"schema": {
							"$ref": "#/definitions/PostPersonBodyRequest"
						}
					},
					{
						"name": "domain",
						"in": "query",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "string"
						}
					}
				}
			}
		},
		"/apifc/v1/Contacts": {
			"get": {
				"tags": [
					"Person based"
				],
				"summary": "List contacts",
				"operationId": "Contacts_GetContacts",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "personId",
						"in": "query",
						"description": "Full personId.",
						"required": true,
						"type": "string"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/PersonBasedContactDTO"
							}
						}
					}
				}
			}
		},
		"/apifc/v1/Users/GetUser": {
			"get": {
				"tags": [
					"Users"
				],
				"summary": "Get a user",
				"operationId": "Users_GetUser",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "userId",
						"in": "query",
						"description": "User id.",
						"required": true,
						"type": "string"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/User"
						}
					},
					"401": {
						"description": "Authentication failed"
					},
					"404": {
						"description": "User not found"
					},
					"500": {
						"description": "Internal Server error"
					}
				}
			}
		},
		"/apifc/v1/batches/checkstatusjournaldigital/{jobId}": {
			"get": {
				"tags": [
					"Status bakgrundsjobb Journal Digital"
				],
				"summary": "Checks the Journal Digital batchjob status.",
				"operationId": "AutoStartBatch_StatusJournalDigital",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html"
				],
				"parameters": [
					{
						"name": "jobId",
						"in": "path",
						"description": "Type",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "domain",
						"in": "query",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/BatchJobListDTO"
						}
					}
				}
			}
		},
		"/apifc/v1/Calculations/Proposals": {
			"get": {
				"tags": [
					"Person based"
				],
				"summary": "Get proposal for calculations",
				"operationId": "Calculations_GetCalculationProposal",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "domain",
						"in": "query",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"required": true,
						"type": "string"
					},
					{
						"name": "personId",
						"in": "query",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/PersonBasedCalculationProposalDTO"
						}
					}
				}
			}
		},
		"/apifc/v1/Actualisations/Proposals": {
			"get": {
				"tags": [
					"Person based"
				],
				"summary": "Get proposal for actualisation",
				"operationId": "Aktualiserings_GetAktualiseringProposal",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "domain",
						"in": "query",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"required": true,
						"type": "string"
					},
					{
						"name": "personId",
						"in": "query",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/PersonBasedAktualiseringProposalDTO"
						}
					}
				}
			}
		},
		"/apifc/v1/InvoiceForTreatment": {
			"get": {
				"tags": [
					"InvoiceForTreatment"
				],
				"summary": "List ResourceAllocation",
				"operationId": "InvoiceForTreatment_GetInvoiceForTreatment",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "personId",
						"in": "query",
						"description": "Full personId.",
						"required": true,
						"type": "string"
					},
					{
						"name": "customerNumber",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/InvoiceForTreatmentDTO"
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"InvoiceForTreatment"
				],
				"summary": "Update invoice",
				"operationId": "InvoiceForTreatment_PutInvoiceForTreatment",
				"consumes": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "invoiceDetails",
						"in": "body",
						"description": "",
						"required": true,
						"schema": {
							"$ref": "#/definitions/InvoiceForTreatmentRequest"
						}
					},
					{
						"name": "invoiceRowId",
						"in": "query",
						"description": "InvoiceRowId",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					}
				}
			},
			"post": {
				"tags": [
					"InvoiceForTreatment"
				],
				"summary": "Save invoice",
				"operationId": "InvoiceForTreatment_PostInvoiceForTreatment",
				"consumes": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "invoiceDetails",
						"in": "body",
						"description": "",
						"required": true,
						"schema": {
							"$ref": "#/definitions/InvoiceForTreatmentRequest"
						}
					},
					{
						"name": "resourceAllocationId",
						"in": "query",
						"description": "ResourceAllocationId",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					}
				}
			},
			"delete": {
				"tags": [
					"InvoiceForTreatment"
				],
				"summary": "Delete invoice",
				"operationId": "InvoiceForTreatment_DeleteInvoiceForTreatment",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "updateSign",
						"in": "query",
						"description": "[Max length: 10] UpdateSign",
						"required": true,
						"type": "string"
					},
					{
						"name": "invoiceRowId",
						"in": "query",
						"description": "InvoiceRowId",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					}
				}
			}
		},
		"/apifc/v1/Extract/Payments": {
			"get": {
				"tags": [
					"Extract"
				],
				"summary": "List payments extract",
				"operationId": "Extract_GetPaymentsExtract",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "modifiedAfter",
						"in": "query",
						"description": "Gets resources modified after specified date or date-time.",
						"required": false,
						"type": "string"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "The offset controls the starting point within the returned resources.",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "The limit controls the maximum number of resources that may be returned.",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "q",
						"in": "query",
						"description": "The search query",
						"required": false,
						"type": "string"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ApiExtractComposite[ExtractPaymentDTO]"
						}
					}
				}
			}
		},
		"/apifc/v1/Extract/Services": {
			"get": {
				"tags": [
					"Extract"
				],
				"summary": "List services extract",
				"operationId": "Extract_GetServicesExtract",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "modifiedAfter",
						"in": "query",
						"description": "Gets resources modified after specified date or date-time.",
						"required": false,
						"type": "string"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "The offset controls the starting point within the returned resources.",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "The limit controls the maximum number of resources that may be returned.",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "q",
						"in": "query",
						"description": "The search query",
						"required": false,
						"type": "string"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Ok",
						"schema": {
							"$ref": "#/definitions/ApiExtractComposite[ExtractServiceDTO]"
						}
					},
					"400": {
						"description": "Bad Request"
					}
				}
			}
		},
		"/apifc/v1/Extract/Decisions": {
			"get": {
				"tags": [
					"Extract"
				],
				"summary": "List decisions extract",
				"operationId": "Extract_GetDecisionsExtract",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "modifiedAfter",
						"in": "query",
						"description": "Gets resources modified after specified date or date-time.",
						"required": false,
						"type": "string"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "The offset controls the starting point within the returned resources.",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "The limit controls the maximum number of resources that may be returned.",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "q",
						"in": "query",
						"description": "The search query",
						"required": false,
						"type": "string"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ApiExtractComposite[ExtractDecisionDTO]"
						}
					}
				}
			}
		},
		"/apifc/v1/Extract/Executions": {
			"get": {
				"tags": [
					"Extract"
				],
				"summary": "List executions extract",
				"operationId": "Extract_GetExecutionsExtract",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "modifiedAfter",
						"in": "query",
						"description": "Gets resources modified after specified date or date-time.",
						"required": false,
						"type": "string"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "The offset controls the starting point within the returned resources.",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "The limit controls the maximum number of resources that may be returned.",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "q",
						"in": "query",
						"description": "The search query",
						"required": false,
						"type": "string"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ApiExtractComposite[ExtractExecutionDTO]"
						}
					}
				}
			}
		},
		"/apifc/v1/Extract/Calculations": {
			"get": {
				"tags": [
					"Extract"
				],
				"summary": "List calculations extract",
				"operationId": "Extract_GetCalculationsExtract",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "modifiedAfter",
						"in": "query",
						"description": "Gets resources modified after specified date or date-time.",
						"required": false,
						"type": "string"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "The offset controls the starting point within the returned resources.",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "The limit controls the maximum number of resources that may be returned.",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "q",
						"in": "query",
						"description": "The search query",
						"required": false,
						"type": "string"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ApiExtractComposite[ExtractCalculationDTO]"
						}
					}
				}
			}
		},
		"/apifc/v1/Extract/Actualisations": {
			"get": {
				"tags": [
					"Extract"
				],
				"summary": "List actualisations extract",
				"operationId": "Extract_GetActualisationsExtract",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "modifiedAfter",
						"in": "query",
						"description": "Gets resources modified after specified date or date-time.",
						"required": false,
						"type": "string"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "The offset controls the starting point within the returned resources.",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "The limit controls the maximum number of resources that may be returned.",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "q",
						"in": "query",
						"description": "The search query",
						"required": false,
						"type": "string"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Ok",
						"schema": {
							"$ref": "#/definitions/ApiExtractComposite[ExtractAktualiseringDTO]"
						}
					},
					"400": {
						"description": "Bad Request"
					}
				}
			}
		},
		"/apifc/v1/Extract/Investigations": {
			"get": {
				"tags": [
					"Extract"
				],
				"summary": "List investigations extract",
				"operationId": "Extract_GetInvestigationsExtract",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "modifiedAfter",
						"in": "query",
						"description": "Gets resources modified after specified date or date-time.",
						"required": false,
						"type": "string"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "The offset controls the starting point within the returned resources.",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "The limit controls the maximum number of resources that may be returned.",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "q",
						"in": "query",
						"description": "The search query",
						"required": false,
						"type": "string"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ApiExtractComposite[ExtractInvestigationDTO]"
						}
					}
				}
			}
		},
		"/apifc/v1/Extract/ResourceAllocations": {
			"get": {
				"tags": [
					"Extract"
				],
				"summary": "List resource allocations extract",
				"operationId": "Extract_GetResourceAllocationsExtract",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "modifiedAfter",
						"in": "query",
						"description": "Gets resources modified after specified date or date-time.",
						"required": false,
						"type": "string"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "The offset controls the starting point within the returned resources.",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "The limit controls the maximum number of resources that may be returned.",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "q",
						"in": "query",
						"description": "The search query",
						"required": false,
						"type": "string"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ApiExtractComposite[ExtractResourceAllocationDTO]"
						}
					}
				}
			}
		},
		"/apifc/v1/Users/GetUsers": {
			"get": {
				"tags": [
					"Users"
				],
				"summary": "List users",
				"operationId": "Users_GetUsers",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "modifiedAfter",
						"in": "query",
						"description": "Gets resources modified after specified time (greater than) in UTC.",
						"required": false,
						"type": "string"
					},
					{
						"name": "modifiedBefore",
						"in": "query",
						"description": "Gets resources modified before specified time (less than) in UTC.",
						"required": false,
						"type": "string"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "The offset controls the starting point within the returned resources.",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "The limit controls the maximum number of resources that may be returned.",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/User"
							}
						}
					},
					"401": {
						"description": "Authentication failed"
					},
					"404": {
						"description": "Users not found"
					},
					"500": {
						"description": "Internal Server error"
					}
				}
			}
		},
		"/apifc/v1/Users/GetUsersByRole": {
			"get": {
				"tags": [
					"Users"
				],
				"summary": "List users by role",
				"operationId": "Users_GetUsersByRole",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "role",
						"in": "query",
						"required": true,
						"type": "string"
					},
					{
						"name": "modifiedAfter",
						"in": "query",
						"description": "Gets resources modified after specified time (greater than) in UTC.",
						"required": false,
						"type": "string"
					},
					{
						"name": "modifiedBefore",
						"in": "query",
						"description": "Gets resources modified before specified time (less than) in UTC.",
						"required": false,
						"type": "string"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "The offset controls the starting point within the returned resources.",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "The limit controls the maximum number of resources that may be returned.",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/User"
							}
						}
					},
					"401": {
						"description": "Authentication failed"
					},
					"404": {
						"description": "Users not found"
					},
					"500": {
						"description": "Internal Server error"
					}
				}
			}
		},
		"/apifc/v1/Payments": {
			"get": {
				"tags": [
					"Person based"
				],
				"summary": "List payments",
				"operationId": "Payments_GetPayments",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "personId",
						"in": "query",
						"description": "Full personId.",
						"required": true,
						"type": "string"
					},
					{
						"name": "startDate",
						"in": "query",
						"description": "Return payments made this date or later.",
						"required": true,
						"type": "string"
					},
					{
						"name": "endDate",
						"in": "query",
						"description": "Return payments made this date or before.",
						"required": true,
						"type": "string"
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Max number of records to return.\r\n0 or null gives all records.",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "pageNr",
						"in": "query",
						"description": "The page number you want to retrieve\r\nDefault is 0 for the first page",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "ascending",
						"in": "query",
						"description": "Indicates whether or not the order should be ascending \r\n(True) Ascending, (False) descending",
						"required": false,
						"type": "boolean"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ApiPaginationComposite[PersonBasedPaymentDTO]"
						}
					}
				}
			}
		},
		"/apifc/v1/Services": {
			"get": {
				"tags": [
					"Person based"
				],
				"summary": "List services",
				"operationId": "Services_GetServices",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "personId",
						"in": "query",
						"description": "Full personId.",
						"required": true,
						"type": "string"
					},
					{
						"name": "startDate",
						"in": "query",
						"description": "Return services made this date or later.",
						"required": true,
						"type": "string"
					},
					{
						"name": "endDate",
						"in": "query",
						"description": "Return services made this date or before.",
						"required": true,
						"type": "string"
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Max number of records to return.\r\n0 or null gives all records.",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "pageNr",
						"in": "query",
						"description": "The page number you want to retrieve\r\nDefault is 0 for the first page",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "ascending",
						"in": "query",
						"description": "Indicates whether or not the order should be ascending \r\n(True) Ascending, (False) descending",
						"required": false,
						"type": "boolean"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ApiPaginationComposite[PersonBasedServiceDTO]"
						}
					}
				}
			}
		},
		"/apifc/v1/Decisions": {
			"get": {
				"tags": [
					"Person based"
				],
				"summary": "List decisions",
				"operationId": "Decisions_GetDecisions",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "personId",
						"in": "query",
						"description": "Full personId.",
						"required": true,
						"type": "string"
					},
					{
						"name": "startDate",
						"in": "query",
						"description": "Return decisions made this date or later.",
						"required": true,
						"type": "string"
					},
					{
						"name": "endDate",
						"in": "query",
						"description": "Return decisions made this date or before.",
						"required": true,
						"type": "string"
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Max number of records to return.\r\n0 or null gives all records.",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "pageNr",
						"in": "query",
						"description": "The page number you want to retrieve\r\nDefault is 0 for the first page",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "ascending",
						"in": "query",
						"description": "Indicates whether or not the order should be ascending \r\n(True) Ascending, (False) descending",
						"required": false,
						"type": "boolean"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ApiPaginationComposite[PersonBasedDecisionDTO]"
						}
					}
				}
			}
		},
		"/apifc/v1/Documents": {
			"get": {
				"tags": [
					"Person based"
				],
				"summary": "List documents",
				"operationId": "Documents_GetDocuments",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "personId",
						"in": "query",
						"description": "Full personId.",
						"required": true,
						"type": "string"
					},
					{
						"name": "startDate",
						"in": "query",
						"description": "Return applications made this date or later.",
						"required": true,
						"type": "string"
					},
					{
						"name": "endDate",
						"in": "query",
						"description": "Return applications made this date or later.",
						"required": true,
						"type": "string"
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Max number of records to return.\r\n0 or null gives all records.",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "pageNr",
						"in": "query",
						"description": "The page number you want to retrieve\r\nDefault is 0 for the first page",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "ascending",
						"in": "query",
						"description": "Indicates whether or not the order should be ascending \r\n(True) Ascending, (False) descending",
						"required": false,
						"type": "boolean"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ApiPaginationComposite[PersonBasedDocumentDTO]"
						}
					}
				}
			}
		},
		"/apifc/v1/Executions": {
			"get": {
				"tags": [
					"Person based"
				],
				"summary": "List executions",
				"operationId": "Executions_GetExecutions",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "personId",
						"in": "query",
						"description": "Full personId.",
						"required": true,
						"type": "string"
					},
					{
						"name": "startDate",
						"in": "query",
						"description": "Return executions made this date or later.",
						"required": true,
						"type": "string"
					},
					{
						"name": "endDate",
						"in": "query",
						"description": "Return executions made this date or before.",
						"required": true,
						"type": "string"
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Max number of records to return.\r\n0 or null gives all records.",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "pageNr",
						"in": "query",
						"description": "The page number you want to retrieve\r\nDefault is 0 for the first page",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "ascending",
						"in": "query",
						"description": "Indicates whether or not the order should be ascending \r\n(True) Ascending, (False) descending",
						"required": false,
						"type": "boolean"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ApiPaginationComposite[PersonBasedExecutionDTO]"
						}
					}
				}
			}
		},
		"/apifc/v1/Calculations": {
			"get": {
				"tags": [
					"Person based"
				],
				"summary": "List calculations",
				"operationId": "Calculations_GetCalculations",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "personId",
						"in": "query",
						"description": "Full personId.",
						"required": true,
						"type": "string"
					},
					{
						"name": "startDate",
						"in": "query",
						"description": "Return calculations made this date or later.",
						"required": true,
						"type": "string"
					},
					{
						"name": "endDate",
						"in": "query",
						"description": "Return Calculations end this date or before",
						"required": true,
						"type": "string"
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Max number of records to return.\r\n0 or null gives all records.",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "pageNr",
						"in": "query",
						"description": "The page number you want to retrieve\r\nDefault is 0 for the first page",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "ascending",
						"in": "query",
						"description": "Indicates whether or not the order should be ascending \r\n(True) Ascending, (False) descending",
						"required": false,
						"type": "boolean"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ApiPaginationComposite[PersonBasedCalculationDTO]"
						}
					}
				}
			},
			"post": {
				"tags": [
					"Person based"
				],
				"summary": "Post an calculations",
				"operationId": "Calculations_PostCalculation",
				"consumes": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/PostCalculationBodyRequest"
						}
					},
					{
						"name": "domain",
						"in": "query",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"format": "int32",
							"type": "integer"
						}
					}
				}
			}
		},
		"/apifc/v1/Actualisations": {
			"get": {
				"tags": [
					"Person based"
				],
				"summary": "List actualisations",
				"operationId": "Aktualiserings_GetAktualiserings",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "personId",
						"in": "query",
						"description": "Full personId.",
						"required": true,
						"type": "string"
					},
					{
						"name": "startDate",
						"in": "query",
						"description": "Return applications made this date or later.",
						"required": true,
						"type": "string"
					},
					{
						"name": "endDate",
						"in": "query",
						"description": "Return applications made this date or before.",
						"required": true,
						"type": "string"
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Max number of records to return.\r\n0 or null gives all records.",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "pageNr",
						"in": "query",
						"description": "The page number you want to retrieve\r\nDefault is 0 for the first page",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "ascending",
						"in": "query",
						"description": "Indicates whether or not the order should be ascending \r\n(True) Ascending, (False) descending",
						"required": false,
						"type": "boolean"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Ok",
						"schema": {
							"$ref": "#/definitions/ApiPaginationComposite[PersonBasedAktualiseringDTO]"
						}
					},
					"400": {
						"description": "Bad Request"
					}
				}
			},
			"post": {
				"tags": [
					"Person based"
				],
				"summary": "Post an actualisation",
				"operationId": "Aktualiserings_PostAktualisering",
				"consumes": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/PostAktualiseringsBodyRequest"
						}
					},
					{
						"name": "domain",
						"in": "query",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"format": "int32",
							"type": "integer"
						}
					}
				}
			}
		},
		"/apifc/v1/Investigations": {
			"get": {
				"tags": [
					"Person based"
				],
				"summary": "List investigations",
				"operationId": "Investigations_GetInvestigations",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "personId",
						"in": "query",
						"description": "Full personId.",
						"required": true,
						"type": "string"
					},
					{
						"name": "startDate",
						"in": "query",
						"description": "Return investigations made this date or later.",
						"required": true,
						"type": "string"
					},
					{
						"name": "endDate",
						"in": "query",
						"description": "Return investigations made this date or before.",
						"required": true,
						"type": "string"
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Max number of records to return.\r\n0 or null gives all records.",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "pageNr",
						"in": "query",
						"description": "The page number you want to retrieve\r\nDefault is 0 for the first page",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "ascending",
						"in": "query",
						"description": "Indicates whether or not the order should be ascending \r\n(True) Ascending, (False) descending",
						"required": false,
						"type": "boolean"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ApiPaginationComposite[PersonBasedInvestigationDTO]"
						}
					}
				}
			}
		},
		"/apifc/v1/ResourceAllocations": {
			"get": {
				"tags": [
					"Person based"
				],
				"summary": "List resource allocations",
				"operationId": "ResourceAllocations_GetResourceAllocations",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "personId",
						"in": "query",
						"description": "Full personId.",
						"required": true,
						"type": "string"
					},
					{
						"name": "startDate",
						"in": "query",
						"description": "Return resourceAllocations made this date or later.",
						"required": true,
						"type": "string"
					},
					{
						"name": "endDate",
						"in": "query",
						"description": "Return resourceAllocations made this date or before.",
						"required": true,
						"type": "string"
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Max number of records to return.\r\n0 or null gives all records.",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "pageNr",
						"in": "query",
						"description": "The page number you want to retrieve\r\nDefault is 0 for the first page",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "ascending",
						"in": "query",
						"description": "Indicates whether or not the order should be ascending \r\n(True) Ascending, (False) descending",
						"required": false,
						"type": "boolean"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ApiPaginationComposite[PersonBasedResourceAllocationDTO]"
						}
					}
				}
			}
		},
		"/apifc/v1/ApiLogs": {
			"get": {
				"tags": [
					"Logs"
				],
				"summary": "List API Logs",
				"operationId": "APILog_ListAPILogs",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "startDate",
						"in": "query",
						"description": "Start Date (yyyy-MM-ddTHH:mm:ss)",
						"required": false,
						"type": "string"
					},
					{
						"name": "endDate",
						"in": "query",
						"description": "End Date (yyyy-MM-ddTHH:mm:ss)",
						"required": false,
						"type": "string"
					},
					{
						"name": "source",
						"in": "query",
						"description": "The Source (Consumer/Provider)",
						"required": false,
						"type": "string"
					},
					{
						"name": "consumer",
						"in": "query",
						"description": "The Consumer",
						"required": false,
						"type": "string"
					},
					{
						"name": "provider",
						"in": "query",
						"description": "The Provider",
						"required": false,
						"type": "string"
					},
					{
						"name": "api",
						"in": "query",
						"description": "The API Url (apifc/v1/ApiLogs)",
						"required": false,
						"type": "string"
					},
					{
						"name": "method",
						"in": "query",
						"description": "The Method (GET/POST)",
						"required": false,
						"type": "string"
					},
					{
						"name": "status",
						"in": "query",
						"description": "The Status (Ok/Error)",
						"required": false,
						"type": "string"
					},
					{
						"name": "durationLongerThan",
						"in": "query",
						"description": "Duration greater then equal to (hh:mm:ss[.fffffff])",
						"required": false,
						"type": "string"
					},
					{
						"name": "durationShorterThan",
						"in": "query",
						"description": "Duration less then equal to (hh:mm:ss[.fffffff])",
						"required": false,
						"type": "string"
					},
					{
						"name": "requestId",
						"in": "query",
						"description": "The Request Id (x-api-requestId)",
						"required": false,
						"type": "string"
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Max number of records to return.\r\nDefault is 100.",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "pageNr",
						"in": "query",
						"description": "The page number you want to retrieve\r\nDefault is 0 for the first page",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Ok",
						"schema": {
							"$ref": "#/definitions/ApiPaginationComposite[ApiLogEntryDTO]"
						}
					},
					"400": {
						"description": "Bad Request"
					}
				}
			}
		},
		"/apifc/v1/Users/SetUser": {
			"post": {
				"tags": [
					"Users"
				],
				"summary": "Create or Update a user",
				"operationId": "Users_SetUser",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					},
					{
						"name": "id",
						"in": "query",
						"description": "[Max length: 10] ",
						"required": true,
						"type": "string"
					},
					{
						"name": "personId",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "hsaId",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "networkUserId",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "vrkId",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "firstName",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "lastName",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "fullName",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "description",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "validFrom",
						"in": "query",
						"required": false,
						"type": "string",
						"format": "date-time"
					},
					{
						"name": "validTo",
						"in": "query",
						"required": false,
						"type": "string",
						"format": "date-time"
					},
					{
						"name": "disabled",
						"in": "query",
						"required": false,
						"type": "boolean"
					},
					{
						"name": "logonTypes",
						"in": "query",
						"required": false,
						"type": "array",
						"items": {
							"type": "string",
							"enum": [
								"Certificate",
								"External",
								"Idp",
								"Token",
								"Tss"
							]
						},
						"collectionFormat": "multi"
					},
					{
						"name": "password",
						"in": "query",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/User"
						}
					},
					"401": {
						"description": "Authentication failed"
					},
					"500": {
						"description": "Internal Server error"
					}
				}
			}
		},
		"/apifc/v1/Actualisations/{id}/Attachments": {
			"post": {
				"tags": [
					"Person based"
				],
				"summary": "Post an attatchment to be bound to an actualisation",
				"operationId": "Aktualiserings_PostAktualiseringsAttachment",
				"consumes": [
					"multipart/form-data"
				],
				"produces": [],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "domain",
						"in": "query",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"required": true,
						"type": "string"
					},
					{
						"name": "InsertDocumentType",
						"in": "formData",
						"description": "The type of document sent",
						"required": true,
						"type": "string"
					},
					{
						"name": "InsertDocumentSenderType",
						"in": "formData",
						"description": "The sendertype of the document",
						"required": true,
						"type": "string"
					},
					{
						"name": "Title",
						"in": "formData",
						"description": "The title of the document",
						"required": false,
						"type": "string"
					},
					{
						"name": "SenderName",
						"in": "formData",
						"description": "The name of the sender",
						"required": false,
						"type": "string"
					},
					{
						"name": "Content",
						"in": "formData",
						"description": "The file to attach",
						"required": true,
						"type": "file"
					}
				],
				"responses": {
					"204": {
						"description": "No Content"
					}
				}
			}
		},
		"/apifc/v1/batches/autostartjournaldigital": {
			"post": {
				"tags": [
					"Autostart bakgrundsjobb Journal Digital"
				],
				"summary": "Starts a background batch process to handle Journal Digital entries for the specified domain and key,\r\nbeginning from the given date. The key should be sent as an X-API-Key in the header for better security.",
				"description": "This endpoint is typically used to initiate background processing jobs for Journal Digital entries.\r\nEnsure that the provided domain and key in the request object are valid for the intended operation.\r\nSending the key in the querystring is supported but not recommended due to security concerns.",
				"operationId": "AutoStartBatch_StartJournalDigitalBatch",
				"consumes": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"description": "The request body containing additional parameters for the batch process, such as the fromDate, the date from which to start processing digital journal entries.\r\n            Only entries on or after this date are included. If this value is omitted, the last successful integration date stored in the customer data will be used.",
						"required": true,
						"schema": {
							"$ref": "#/definitions/PostAutostartJDBatchBodyRequest"
						}
					},
					{
						"name": "domain",
						"in": "query",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"format": "int32",
							"type": "integer"
						}
					}
				}
			}
		}
	},
	"definitions": {
		"OrderECDetailsDTO": {
			"description": "Detailed information about an EC order.",
			"type": "object",
			"properties": {
				"OrderId": {
					"format": "uuid",
					"type": "string",
					"example": "00000000-0000-0000-0000-000000000000"
				},
				"PersonName": {
					"type": "string"
				},
				"PersonId": {
					"type": "string"
				},
				"RegistrationProtection": {
					"description": "Indicates whether the person has protected registration (skyddad folkbokföring).",
					"type": "boolean"
				},
				"AddressProtection": {
					"description": "Indicates whether the person has address protection (adresskydd eller sekretessmarkering).",
					"type": "boolean"
				},
				"CareOfAddress": {
					"type": "string"
				},
				"StreetAddress": {
					"type": "string"
				},
				"PostalAddress": {
					"type": "string"
				},
				"PostalCode": {
					"type": "string"
				},
				"StartDate": {
					"format": "date-time",
					"description": "The start date of the order period.\r\n<b>Note:</b> This is a calendar date without time zone. Do not interpret as UTC or local time.\r\nDo not convert between time zones; use the value directly as a date.",
					"type": "string",
					"example": "2026-01-29T00:00:00.000"
				},
				"EndDate": {
					"format": "date-time",
					"description": "The end date of the order period.\r\n<b>Note:</b> This is a calendar date without time zone. Do not interpret as UTC or local time.\r\nDo not convert between time zones; use the value directly as a date.",
					"type": "string",
					"example": "2026-01-29T00:00:00.000"
				},
				"ProviderUnitId": {
					"format": "int32",
					"type": "integer"
				},
				"OrderByName": {
					"type": "string"
				},
				"OrderBySignature": {
					"type": "string"
				},
				"OrderDateUtc": {
					"format": "date-time",
					"description": "The date and time the order was created, in UTC.\r\n<b>Note:</b> This value is converted from local time to UTC and includes time information.",
					"type": "string"
				},
				"UpdateDate": {
					"format": "date-time",
					"description": "The date the order was last updated.\r\n<b>Note:</b> This is a calendar date without time zone. Do not interpret as UTC or local time.\r\nDo not convert between time zones; use the value directly as a date.",
					"type": "string",
					"example": "2026-01-29T00:00:00.000"
				},
				"UpdateSignature": {
					"type": "string"
				},
				"UpdateName": {
					"type": "string"
				}
			}
		},
		"PdfDTO": {
			"type": "object",
			"properties": {
				"DocumentId": {
					"type": "string"
				},
				"Description": {
					"type": "string"
				},
				"Content": {
					"format": "byte",
					"type": "string"
				},
				"Date": {
					"format": "date-time",
					"type": "string"
				},
				"Time": {
					"type": "string"
				},
				"UpdateSignature": {
					"type": "string"
				}
			}
		},
		"GetpersonsProposalRequest": {
			"required": [
				"domain",
				"key"
			],
			"type": "object",
			"properties": {
				"domain": {
					"type": "string"
				},
				"key": {
					"type": "string"
				}
			}
		},
		"PersonBasedPersonProposalDTO": {
			"type": "object",
			"properties": {
				"CitizenShips": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedPersonCitizenShipsDTO"
					}
				},
				"MaritalStatuses": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedPersonMartialStatusesDTO"
					}
				},
				"Areas": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedPersonAreasDTO"
					}
				},
				"AreaKeyCodes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedPersonAreasKeyCodeDTO"
					}
				}
			}
		},
		"PersonBasedPersonCitizenShipsDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"PersonBasedPersonMartialStatusesDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"PersonBasedPersonAreasDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"PersonBasedPersonAreasKeyCodeDTO": {
			"type": "object",
			"properties": {
				"Name": {
					"type": "string"
				},
				"KeyCodes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedPersonKeyCodeDTO"
					}
				}
			}
		},
		"PersonBasedPersonKeyCodeDTO": {
			"type": "object",
			"properties": {
				"Code": {
					"type": "string"
				}
			}
		},
		"GetDocumentContentRequest": {
			"description": "",
			"required": [
				"id",
				"domain",
				"key"
			],
			"type": "object",
			"properties": {
				"id": {
					"description": "Document id",
					"type": "string"
				},
				"domain": {
					"description": "The domain ID.",
					"type": "string"
				},
				"key": {
					"description": "The API key.",
					"type": "string"
				}
			}
		},
		"OrderECForUnitDTO": {
			"description": "EC order information for a unit.",
			"type": "object",
			"properties": {
				"ProviderUnitId": {
					"format": "int32",
					"type": "integer"
				},
				"ExternalOrderId": {
					"format": "uuid",
					"type": "string",
					"example": "00000000-0000-0000-0000-000000000000"
				},
				"StartDate": {
					"format": "date-time",
					"description": "The start date of the order period.\r\n<b>Note:</b> This is a calendar date without time zone. Do not interpret as UTC or local time.\r\nDo not convert between time zones; use the value directly as a date.",
					"type": "string",
					"example": "2026-01-29T00:00:00.000"
				},
				"EndDate": {
					"format": "date-time",
					"description": "The end date of the order period.\r\n<b>Note:</b> This is a calendar date without time zone. Do not interpret as UTC or local time.\r\nDo not convert between time zones; use the value directly as a date.",
					"type": "string",
					"example": "2026-01-29T00:00:00.000"
				},
				"OrderDateUtc": {
					"format": "date-time",
					"description": "The date and time the order was created, in UTC.\r\n<b>Note:</b> This value is converted from local time to UTC and includes time information.",
					"type": "string"
				},
				"Status": {
					"enum": [
						"None",
						"New",
						"Received",
						"Ongoing",
						"Finished",
						"Declined",
						"Withdrawn"
					],
					"type": "string"
				},
				"UpdateDate": {
					"format": "date-time",
					"description": "The date the order was last updated.\r\n<b>Note:</b> This is a calendar date without time zone. Do not interpret as UTC or local time.\r\nDo not convert between time zones; use the value directly as a date.",
					"type": "string",
					"example": "2026-01-29T00:00:00.000"
				},
				"PersonId": {
					"type": "string"
				},
				"PersonName": {
					"type": "string"
				},
				"RegistrationProtection": {
					"description": "Indicates whether the person has protected registration (skyddad folkbokföring).",
					"type": "boolean"
				},
				"AddressProtection": {
					"description": "Indicates whether the person has address protection (adresskydd eller sekretessmarkering).",
					"type": "boolean"
				}
			}
		},
		"PdfMetadataDTO": {
			"type": "object",
			"properties": {
				"DocumentId": {
					"type": "string"
				},
				"Description": {
					"type": "string"
				},
				"Date": {
					"format": "date-time",
					"type": "string"
				}
			}
		},
		"GetPersonsRequest": {
			"description": "GetPersonsRequest",
			"required": [
				"personId",
				"domain",
				"key"
			],
			"type": "object",
			"properties": {
				"personId": {
					"description": "Full personId.",
					"type": "string"
				},
				"domain": {
					"description": "The domain ID.",
					"type": "string"
				},
				"key": {
					"description": "The API key.",
					"type": "string"
				}
			}
		},
		"PersonBasedPersonDTO": {
			"description": "Person documentation",
			"type": "object",
			"properties": {
				"PersonId": {
					"description": "PersonId",
					"type": "string"
				},
				"CustomerNumber": {
					"format": "int32",
					"description": "CustomerNumber",
					"type": "integer"
				},
				"Name": {
					"description": "Name",
					"type": "string"
				},
				"StreetAddress": {
					"description": "StreetAddress",
					"type": "string"
				},
				"PostalCode": {
					"description": "PostalCode",
					"type": "string"
				},
				"PostalAddress": {
					"description": "PostalAddress",
					"type": "string"
				},
				"CareOfAddress": {
					"description": "CareOfAddress",
					"type": "string"
				},
				"PhoneHome": {
					"description": "PhoneHome",
					"type": "string"
				},
				"PhoneWork": {
					"description": "PhoneWork",
					"type": "string"
				},
				"PhoneMobile": {
					"description": "PhoneMobile",
					"type": "string"
				},
				"Email": {
					"description": "Email",
					"type": "string"
				},
				"Source": {
					"description": "Source, \"FC\" or \"Population\"",
					"type": "string"
				},
				"AddressProtection": {
					"description": "AddressProtection",
					"type": "boolean"
				},
				"SecretPhone": {
					"description": "SecretPhone",
					"type": "boolean"
				},
				"ProtectedRegistration": {
					"description": "RegistrationProtection",
					"type": "boolean"
				}
			}
		},
		"PostPersonsRequest": {
			"required": [
				"domain",
				"key"
			],
			"type": "object",
			"properties": {
				"domain": {
					"type": "string"
				},
				"key": {
					"type": "string"
				}
			}
		},
		"PostPersonBodyRequest": {
			"type": "object",
			"properties": {
				"PersonId": {
					"type": "string"
				},
				"Name": {
					"type": "string"
				},
				"Surname": {
					"type": "string"
				},
				"MaritalStatus": {
					"format": "int32",
					"type": "integer"
				},
				"StreetAddress": {
					"type": "string"
				},
				"PostalCode": {
					"type": "string"
				},
				"PostalAddress": {
					"type": "string"
				},
				"CareOfAddress": {
					"type": "string"
				},
				"PhoneHome": {
					"type": "string"
				},
				"PhoneWork": {
					"type": "string"
				},
				"PhoneMobile": {
					"type": "string"
				},
				"Email": {
					"type": "string"
				},
				"Area": {
					"format": "int32",
					"type": "integer"
				},
				"KeyCode": {
					"type": "string"
				},
				"CitizenShipCountry": {
					"format": "int32",
					"type": "integer"
				},
				"BornCountry": {
					"format": "int32",
					"type": "integer"
				}
			}
		},
		"GetContactsRequest": {
			"description": "GetContactsRequest",
			"required": [
				"personId",
				"domain",
				"key"
			],
			"type": "object",
			"properties": {
				"personId": {
					"description": "Full personId.",
					"type": "string"
				},
				"domain": {
					"description": "The domain ID.",
					"type": "string"
				},
				"key": {
					"description": "The API key.",
					"type": "string"
				}
			}
		},
		"PersonBasedContactDTO": {
			"description": "Contact documentation",
			"type": "object",
			"properties": {
				"Id": {
					"description": "Id of the contact",
					"type": "string"
				},
				"Name": {
					"description": "Name of the contact",
					"type": "string"
				},
				"EmploymentTitle": {
					"description": "Employment Title of the contact",
					"type": "string"
				},
				"OrganizationName": {
					"description": "Organization Name of the contact",
					"type": "string"
				},
				"Phone": {
					"description": "Phone",
					"type": "string"
				},
				"Email": {
					"description": "Email",
					"type": "string"
				},
				"Address": {
					"$ref": "#/definitions/PersonBasedAddressDTO",
					"description": "Address"
				},
				"TypeOfContact": {
					"description": "TypeOfContact",
					"type": "string"
				}
			}
		},
		"PersonBasedAddressDTO": {
			"description": "Address documentation",
			"type": "object",
			"properties": {
				"Id": {
					"description": "",
					"type": "string"
				},
				"VisitingAddress": {
					"description": "",
					"type": "string"
				},
				"StreetAddress": {
					"description": "",
					"type": "string"
				},
				"PostalCode": {
					"description": "",
					"type": "string"
				},
				"PostalAddress": {
					"description": "",
					"type": "string"
				}
			}
		},
		"GetUserRequest": {
			"description": "GetUserRequest",
			"required": [
				"userId",
				"domain",
				"key"
			],
			"type": "object",
			"properties": {
				"userId": {
					"description": "User id.",
					"type": "string"
				},
				"domain": {
					"description": "The domain ID.",
					"type": "string"
				},
				"key": {
					"description": "The API key.",
					"type": "string"
				}
			}
		},
		"User": {
			"required": [
				"Id"
			],
			"type": "object",
			"properties": {
				"Id": {
					"description": "[Max length: 10] ",
					"type": "string"
				},
				"PersonId": {
					"type": "string"
				},
				"HsaId": {
					"type": "string"
				},
				"NetworkUserId": {
					"type": "string"
				},
				"VrkId": {
					"type": "string"
				},
				"FirstName": {
					"type": "string"
				},
				"LastName": {
					"type": "string"
				},
				"FullName": {
					"type": "string"
				},
				"Description": {
					"type": "string"
				},
				"ValidFrom": {
					"format": "date-time",
					"type": "string"
				},
				"ValidTo": {
					"format": "date-time",
					"type": "string"
				},
				"Disabled": {
					"type": "boolean"
				},
				"LogonTypes": {
					"type": "array",
					"items": {
						"enum": [
							"Certificate",
							"External",
							"Idp",
							"Token",
							"Tss"
						],
						"type": "string"
					}
				},
				"Password": {
					"type": "string"
				}
			}
		},
		"StatusStatusJournalDigitalRequest": {
			"required": [
				"domain",
				"key"
			],
			"type": "object",
			"properties": {
				"domain": {
					"type": "string"
				},
				"key": {
					"type": "string"
				}
			}
		},
		"BatchJobListDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Status": {
					"format": "int32",
					"type": "integer"
				},
				"StatusText": {
					"type": "string"
				},
				"StartTime": {
					"type": "string"
				},
				"EndTime": {
					"type": "string"
				},
				"ResultMessage": {
					"type": "string"
				},
				"StartedBy": {
					"type": "string"
				},
				"Parameters": {
					"type": "object",
					"additionalProperties": {
						"type": "string"
					}
				}
			}
		},
		"GetCalculationProposalRequest": {
			"required": [
				"domain",
				"key",
				"personId"
			],
			"type": "object",
			"properties": {
				"domain": {
					"type": "string"
				},
				"key": {
					"type": "string"
				},
				"personId": {
					"type": "string"
				}
			}
		},
		"PersonBasedCalculationProposalDTO": {
			"type": "object",
			"properties": {
				"Investigations": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedCalculationInvestigationDTO"
					}
				},
				"Services": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedCalculationServiceDTO"
					}
				},
				"Norms": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedCalculationNormDTO"
					}
				},
				"HouseholdMembers": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedCalculationHouseholdMemberDTO"
					}
				},
				"CalculationExpenseTypes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedCalculationExpenseTypeDTO"
					}
				},
				"CalculationSpecialExpenseTypes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedCalculationSpecialExpenseTypeDTO"
					}
				},
				"CalculationIncomeTypes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedCalculationCalculationIncomeTypeDTO"
					}
				},
				"AktualiseringMandatory": {
					"type": "boolean"
				},
				"NumberOfFamilyMembersNotInHousehold": {
					"format": "int32",
					"type": "integer"
				},
				"Aktualiserings": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedCalculationAktualiseringDTO"
					}
				}
			}
		},
		"PersonBasedCalculationInvestigationDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Type": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				},
				"StartDate": {
					"type": "string"
				}
			}
		},
		"PersonBasedCalculationServiceDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Type": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				},
				"StartDate": {
					"type": "string"
				}
			}
		},
		"PersonBasedCalculationNormDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				},
				"FromDate": {
					"type": "string"
				},
				"ToDate": {
					"type": "string"
				}
			}
		},
		"PersonBasedCalculationHouseholdMemberDTO": {
			"type": "object",
			"properties": {
				"PersonId": {
					"type": "string"
				},
				"Name": {
					"type": "string"
				},
				"ChildFromOtherHousehold": {
					"type": "boolean"
				}
			}
		},
		"PersonBasedCalculationExpenseTypeDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"PersonBasedCalculationSpecialExpenseTypeDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"PersonBasedCalculationCalculationIncomeTypeDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"PersonBasedCalculationAktualiseringDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Type": {
					"type": "string"
				},
				"Date": {
					"type": "string"
				}
			}
		},
		"GetAktualiseringsProposalRequest": {
			"required": [
				"domain",
				"key",
				"personId"
			],
			"type": "object",
			"properties": {
				"domain": {
					"type": "string"
				},
				"key": {
					"type": "string"
				},
				"personId": {
					"type": "string"
				}
			}
		},
		"PersonBasedAktualiseringProposalDTO": {
			"type": "object",
			"properties": {
				"ActualisationTypes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedAktualiseringsInfoDTO"
					}
				},
				"SpecifyTypes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedAktualiseringsSpecifyTypeDTO"
					}
				},
				"WorkingStatus": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedAktualiseringsWorkingStatusDTO"
					}
				},
				"Organizations": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedAktualiseringsOrganizationDTO"
					}
				},
				"Investigations": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedAktualiseringsInvestigationDTO"
					}
				},
				"Services": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedAktualiseringsServiceDTO"
					}
				},
				"AttachmentTypes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedAktualiseringAttachmentTypeDTO"
					}
				}
			}
		},
		"PersonBasedAktualiseringsInfoDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				},
				"SpecifyTypeMandatory": {
					"type": "boolean"
				},
				"WorkingStatus": {
					"type": "boolean"
				},
				"Reasons": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedAktualiseringsReasonDTO"
					}
				},
				"FromWho": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedAktualiseringsFromWhoDTO"
					}
				},
				"InvestigationTypes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedAktualiseringsInvestigationTypeDTO"
					}
				},
				"ServiceTypes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedAktualiseringsServiceTypeDTO"
					}
				}
			}
		},
		"PersonBasedAktualiseringsSpecifyTypeDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"PersonBasedAktualiseringsWorkingStatusDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"PersonBasedAktualiseringsOrganizationDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"UnitId": {
					"type": "string"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"PersonBasedAktualiseringsInvestigationDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Type": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				},
				"StartDate": {
					"type": "string"
				},
				"OrganisationId": {
					"format": "int32",
					"type": "integer"
				},
				"OrganisationUnitId": {
					"type": "string"
				},
				"CaseworkerId": {
					"type": "string"
				}
			}
		},
		"PersonBasedAktualiseringsServiceDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Type": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				},
				"StartDate": {
					"type": "string"
				},
				"OrganisationId": {
					"format": "int32",
					"type": "integer"
				},
				"OrganisationUnitId": {
					"type": "string"
				},
				"CaseworkerId": {
					"type": "string"
				}
			}
		},
		"PersonBasedAktualiseringAttachmentTypeDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				},
				"SenderTypes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/AktualisationsAttachmentSenderTypeDTO"
					}
				}
			}
		},
		"PersonBasedAktualiseringsReasonDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"PersonBasedAktualiseringsFromWhoDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"PersonBasedAktualiseringsInvestigationTypeDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"PersonBasedAktualiseringsServiceTypeDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"AktualisationsAttachmentSenderTypeDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"GetInvoiceForTreatmentRequest": {
			"description": "GetInvoiceForTreatmentRequest",
			"required": [
				"personId",
				"domain",
				"key"
			],
			"type": "object",
			"properties": {
				"personId": {
					"description": "Full personId.",
					"type": "string"
				},
				"customerNumber": {
					"type": "string"
				},
				"domain": {
					"description": "The domain ID.",
					"type": "string"
				},
				"key": {
					"description": "The API key.",
					"type": "string"
				}
			}
		},
		"InvoiceForTreatmentDTO": {
			"description": "Person documentation",
			"type": "object",
			"properties": {
				"ResourceAllocationId": {
					"format": "int32",
					"description": "ResourceAllocationId",
					"type": "integer"
				},
				"Type": {
					"description": "Type",
					"type": "string"
				},
				"Name": {
					"description": "Name",
					"type": "string"
				},
				"StartDate": {
					"description": "StartDate",
					"type": "string"
				},
				"EndDate": {
					"description": "EndDate",
					"type": "string"
				},
				"Organisation": {
					"description": "Organisation",
					"type": "string"
				},
				"Caseworker": {
					"description": "Caseworker",
					"type": "string"
				},
				"FullName": {
					"description": "FullName",
					"type": "string"
				},
				"ServiceType": {
					"type": "string"
				}
			}
		},
		"PutInvoiceForTreatmentUriRequest": {
			"description": "PutInvoiceForTreatmentUriRequest",
			"required": [
				"InvoiceRowId",
				"domain",
				"key"
			],
			"type": "object",
			"properties": {
				"InvoiceRowId": {
					"format": "int32",
					"description": "InvoiceRowId",
					"type": "integer"
				},
				"domain": {
					"description": "The domain ID.",
					"type": "string"
				},
				"key": {
					"description": "The API key.",
					"type": "string"
				}
			}
		},
		"InvoiceForTreatmentRequest": {
			"description": "InvoiceForTreatment",
			"required": [
				"InvoiceId",
				"InvoiceNumber",
				"PaymentDate",
				"Amount",
				"FromDate",
				"ToDate",
				"ExpireDate",
				"CareProviderId",
				"CareProviderName",
				"CareProviderOrgNr",
				"Status",
				"UpdateSign"
			],
			"type": "object",
			"properties": {
				"InvoiceId": {
					"format": "int32",
					"description": "InvoiceId.",
					"type": "integer"
				},
				"InvoiceNumber": {
					"description": "InvoiceNumber.",
					"type": "string"
				},
				"PaymentDate": {
					"description": "PaymentDate",
					"type": "string"
				},
				"Amount": {
					"format": "double",
					"description": "Amount.",
					"type": "number"
				},
				"FromDate": {
					"description": "FromDate.",
					"type": "string"
				},
				"ToDate": {
					"description": "ToDate.",
					"type": "string"
				},
				"ExpireDate": {
					"description": "ExpireDate.",
					"type": "string"
				},
				"CareProviderId": {
					"format": "int32",
					"description": "ReceiverId.",
					"type": "integer"
				},
				"CareProviderName": {
					"description": "[Max length: 250] ReceiverName.",
					"type": "string"
				},
				"CareProviderOrgNr": {
					"format": "int32",
					"description": "ReceiverOrgNr.",
					"type": "integer"
				},
				"Status": {
					"description": "[Max length: 250] Status.",
					"type": "string"
				},
				"UpdateSign": {
					"description": "[Max length: 10] UpdateSign.",
					"type": "string"
				}
			}
		},
		"PostInvoiceForTreatmentUriRequest": {
			"description": "PostInvoiceForTreatmentUriRequest",
			"required": [
				"ResourceAllocationId",
				"domain",
				"key"
			],
			"type": "object",
			"properties": {
				"ResourceAllocationId": {
					"format": "int32",
					"description": "ResourceAllocationId",
					"type": "integer"
				},
				"domain": {
					"description": "The domain ID.",
					"type": "string"
				},
				"key": {
					"description": "The API key.",
					"type": "string"
				}
			}
		},
		"DeleteInvoiceForTreatmentUriRequest": {
			"description": "DeleteInvoiceForTreatmentUriRequest",
			"required": [
				"UpdateSign",
				"InvoiceRowId",
				"domain",
				"key"
			],
			"type": "object",
			"properties": {
				"UpdateSign": {
					"description": "[Max length: 10] UpdateSign",
					"type": "string"
				},
				"InvoiceRowId": {
					"format": "int32",
					"description": "InvoiceRowId",
					"type": "integer"
				},
				"domain": {
					"description": "The domain ID.",
					"type": "string"
				},
				"key": {
					"description": "The API key.",
					"type": "string"
				}
			}
		},
		"ExtractRequest": {
			"required": [
				"limit",
				"domain",
				"key"
			],
			"type": "object",
			"properties": {
				"modifiedAfter": {
					"description": "Gets resources modified after specified date or date-time.",
					"type": "string"
				},
				"offset": {
					"format": "int32",
					"description": "The offset controls the starting point within the returned resources.",
					"type": "integer"
				},
				"limit": {
					"format": "int32",
					"description": "The limit controls the maximum number of resources that may be returned.",
					"type": "integer"
				},
				"q": {
					"description": "The search query",
					"type": "string"
				},
				"domain": {
					"description": "The domain ID.",
					"type": "string"
				},
				"key": {
					"description": "The API key.",
					"type": "string"
				}
			}
		},
		"ApiExtractComposite[ExtractPaymentDTO]": {
			"description": "",
			"type": "object",
			"properties": {
				"ModifiedAfter": {
					"format": "date-time",
					"description": "ModifiedAfter",
					"type": "string"
				},
				"TotalNumberOfRecords": {
					"format": "int32",
					"description": "The total number of records available.",
					"type": "integer"
				},
				"Result": {
					"description": "The total records available.",
					"type": "array",
					"items": {
						"$ref": "#/definitions/ExtractPaymentDTO"
					}
				}
			}
		},
		"ExtractPaymentDTO": {
			"description": "Payment documentation",
			"type": "object",
			"properties": {
				"Name": {
					"description": "Name",
					"type": "string"
				},
				"Id": {
					"format": "int32",
					"description": "[Searchable] Id of payment",
					"type": "integer"
				},
				"CustomerNumber": {
					"format": "int32",
					"description": "CustomerNumber",
					"type": "integer"
				},
				"Amount": {
					"format": "double",
					"description": "Amount",
					"type": "number"
				},
				"PaymentMethod": {
					"description": "[Searchable] PaymentMethod",
					"type": "string"
				},
				"PayDate": {
					"description": "[Searchable] PayDate",
					"type": "string"
				},
				"Clearing": {
					"description": "Clearing",
					"type": "string"
				},
				"AccountNumber": {
					"description": "AccountNumber",
					"type": "string"
				},
				"StreetAddress": {
					"description": "StreetAddress",
					"type": "string"
				},
				"CareOfAddress": {
					"description": "CareOfAddress",
					"type": "string"
				},
				"PostalCode": {
					"description": "PostalCode",
					"type": "string"
				},
				"PostalAddress": {
					"description": "PostalAddress",
					"type": "string"
				},
				"BillingNumber": {
					"description": "BillingNumber",
					"type": "string"
				},
				"LocalNumber": {
					"description": "LocalNumber",
					"type": "string"
				},
				"VoucherNumber": {
					"description": "VoucherNumber",
					"type": "string"
				},
				"Message": {
					"description": "Message",
					"type": "string"
				},
				"ConnectedApplication": {
					"format": "int32",
					"description": "[Searchable] ConnectedApplication",
					"type": "integer"
				},
				"StartTime": {
					"description": "StartTime",
					"type": "string"
				},
				"EndTime": {
					"description": "EndTime",
					"type": "string"
				},
				"PaymentPersonDTOs": {
					"description": "PaymentPersons",
					"type": "array",
					"items": {
						"$ref": "#/definitions/ExtractPaymentPersonDTO"
					}
				}
			}
		},
		"ExtractPaymentPersonDTO": {
			"description": "PaymentPerson documentation",
			"type": "object",
			"properties": {
				"Name": {
					"description": "Name",
					"type": "string"
				},
				"PersonId": {
					"description": "PersonId",
					"type": "string"
				},
				"CustomerNumber": {
					"format": "int32",
					"description": "CustomerNumber",
					"type": "integer"
				}
			}
		},
		"ApiExtractComposite[ExtractServiceDTO]": {
			"description": "",
			"type": "object",
			"properties": {
				"ModifiedAfter": {
					"format": "date-time",
					"description": "ModifiedAfter",
					"type": "string"
				},
				"TotalNumberOfRecords": {
					"format": "int32",
					"description": "The total number of records available.",
					"type": "integer"
				},
				"Result": {
					"description": "The total records available.",
					"type": "array",
					"items": {
						"$ref": "#/definitions/ExtractServiceDTO"
					}
				}
			}
		},
		"ExtractServiceDTO": {
			"description": "Service documentation",
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"description": "[Searchable] Id of service",
					"type": "integer"
				},
				"CustomerNumber": {
					"format": "int32",
					"description": "CustomerNumber",
					"type": "integer"
				},
				"ServiceType": {
					"description": "[Searchable] ServiceType",
					"type": "string"
				},
				"Organization": {
					"description": "[Searchable] Organization",
					"type": "string"
				},
				"StartDate": {
					"description": "[Searchable] StartDate",
					"type": "string"
				},
				"EndDate": {
					"description": "[Searchable] EndDate",
					"type": "string"
				},
				"Caseworker": {
					"description": "[Searchable] Caseworker",
					"type": "string"
				},
				"CoCaseworker": {
					"description": "[Searchable] CoCaseworker",
					"type": "string"
				},
				"InvestigationId": {
					"format": "int32",
					"description": "[Searchable] InvestigationId",
					"type": "integer"
				},
				"ExecutionId": {
					"format": "int32",
					"description": "[Searchable] ExecutionId",
					"type": "integer"
				},
				"DecisionId": {
					"format": "int32",
					"description": "[Searchable] DecisionId",
					"type": "integer"
				},
				"StartTime": {
					"description": "StartTime",
					"type": "string"
				},
				"EndTime": {
					"description": "EndTime",
					"type": "string"
				},
				"CoApplicant": {
					"description": "CoApplicant",
					"type": "string"
				},
				"ServicePersonDTOs": {
					"description": "ServicePersonDTOs",
					"type": "array",
					"items": {
						"$ref": "#/definitions/ExtractServicePersonDTO"
					}
				}
			}
		},
		"ExtractServicePersonDTO": {
			"description": "ServicePerson documentation",
			"type": "object",
			"properties": {
				"Name": {
					"description": "Name",
					"type": "string"
				},
				"PersonId": {
					"description": "PersonId",
					"type": "string"
				},
				"CustomerNumber": {
					"format": "int32",
					"description": "CustomerNumber",
					"type": "integer"
				},
				"CoApplicant": {
					"description": "CoApplicant",
					"type": "boolean"
				}
			}
		},
		"ApiExtractComposite[ExtractDecisionDTO]": {
			"description": "",
			"type": "object",
			"properties": {
				"ModifiedAfter": {
					"format": "date-time",
[...]
